.aside {
	min-height: 100vh;

	background: $white;

	@media screen and (min-width: $tablet) {
		position: relative;
	}

	@media screen and (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 4;

		transform: translateX(-100%);

		padding: 100px 20px 20px;
		width: 100%;
		height: 100%;
		overflow: auto;

		transition: transform 0.3s ease 0s;

		.menu-open & {
			transform: translateX(0);
		}
	}

	// .aside__body
	&__body {
		@media screen and (min-width: $tablet) {
			position: fixed;
			@include adaptiveValue("top", 80, 40);
			transform: translateX(-50%);
			left: calc(12.5%);
		}

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		overflow: auto;
	}

	// .aside__logo
	&__logo {
		display: block;
		@include adaptiveValue("width", 200, 150);
		@include adaptiveValue("height", 100, 75);

		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	// .aside__img
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	// .aside__list
	&__list {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .aside__link
	&__link {
		position: relative;

		display: inline-block;
		overflow: hidden;
		font-size: 20px;
		padding: 4px;

		cursor: pointer;
		color: $black;
		transition: color 0.3s ease 0s;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-102%);
			z-index: -1;

			width: 100%;
			height: 100%;
			border-radius: 2px;

			transition: transform 0.3s ease 0s;
			background-color: $black;
		}

		&:hover,
		&:focus {
			color: $white;

			&::before {
				transform: translateX(0);
			}
		}

		&._active {
			cursor: default;
			pointer-events: none;

			color: $white;

			&::before {
				transform: translateX(0);
			}
		}

		&--spoller {
			display: flex;
			align-items: center;
			justify-content: center;
			transition: opacity 0.3s ease 0s;

			&::after {
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-left: 10px;

				transform: rotate(90deg);
				background: url("../img/icons/p-right.svg") center no-repeat;

				transition: transform 0.3s ease 0s;
			}

			&:hover,
			&:focus {
				color: $black;
				opacity: 0.7;
			}

			&::before {
				content: "";
				display: none;
			}

			&._spoller-active {
				&::after {
					transform: rotate(-90deg);
				}
			}
		}
	}

	// .aside__sublist
	&__sublist {
		margin-top: 20px;
	}

	// .aside__subitem
	&__subitem {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .aside__sublink
	&__sublink {
		position: relative;

		display: inline-block;
		overflow: hidden;
		padding: 4px;

		color: $black;
		font-size: 16px;
		transition: color 0.3s ease 0s;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transform: translateX(-102%);

			width: 100%;
			height: 100%;

			background-color: $black;
			transition: transform 0.3s ease 0s;
		}

		&:hover,
		&:focus {
			color: $white;

			&::before {
				transform: translateX(0);
			}
		}

		&._active {
			cursor: default;
			pointer-events: none;

			color: $white;

			&::before {
				transform: translateX(0);
			}
		}
	}

	// .aside__contacts
	&__contacts {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 150px;
		margin: 0 auto;
	}

	&__contact {
		position: relative;

		display: block;
		width: 35px;
		height: 35px;
		padding: 5px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
			border-radius: 50%;

			background-color: $black;
			transform: scale(0);
			transition: transform 0.3s ease 0s;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: filter 0.3s ease 0s;
		}

		&:hover,
		&:focus {
			img {
				filter: invert(100%);
			}

			&::before {
				transform: scale(1);
			}
		}
	}
}
