//====================================================================================================
.footer{
    &__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__block{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
}
//====================================================================================================
